
// ------------------------------------------------------------------
// Geo
// ------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.o_report_layout_custom {
    font-family: 'Geo', sans-serif;
    width: 100%;
    display: flex;
    background: white;
    position: relative;
}
.pagenumber {
    width: 180px;
    background-color: darken($o-brand-secondary, 25%);
    color: white;
    //padding-bottom: 12px;
    p {
        margin-bottom: 0;
    }
}

.o_header_custom {
    margin-top: 180px;
    width: 180px;
    height: 1030px;
    padding: 1rem;
    background-color: darken($o-brand-secondary, 25%);
    display: flex;
    flex-direction: column;
    color: white;

    .header_custom--logo {
        width: 100%;
        img {
            width: 100%;
            //max-height: a;
        }
    }
    .header_custom--info {
        margin: 3rem 0;
        text-align: center;
        list-style: none;
        padding: 0;
        li {
            padding: 0;
            margin: 0;
        }
    }
}
.o_report_layout_custom .layout_custom--content {
    padding: 1rem;
    margin-top: 180px;
    width: 750px;

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
        background: $o-brand-primary;
        margin: 0;
        padding: 1rem;

        display: flex;
        align-items: center;
        text-align: center;
    }

    #informations {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;

        display: flex;
        flex-direction: column;

        text-align: center;
        margin-top: 0 !important;

        p {
            border-top: 1px solid black;
        }
    }

    .address {
        width: 100%;
        padding: 1rem 0;

        div[name="address"] {
            margin-left: 0 !important;
        }
    }
    thead {
        background: $o-brand-primary;
    }
    .invoice_tbody td {
        border: 1px solid darken($o-brand-secondary, 15%);
    }
    .invoice_tbody tr:nth-child(odd) {
        background-color: $o-brand-secondary;
    }
}