// ------------------------------------------------------------------
// Geo
// ------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.o_custom_erplibre_header,
.o_report_layout_custom_erplibre,
.o_custom_erplibre_footer {
    font-family: 'Geo', sans-serif;
    p {
        padding: 0;
        margin: 0;
    }
}
.custom_erplibre_layout {
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 180px 1fr;
    & > * {
        padding: 1rem;
    }
    .header {
        grid-column: 1 / 1;
        grid-row: 2 / -1;
        padding: 0;
        margin: 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: darken($o-brand-secondary, 25%);
        color: white;

        & > * {
            padding: 1rem;
        }
    }
    .header-logo {
        width: 100%;
        img {
            width: 100%;
        }
    }
    ul.header-info {
        margin: 3rem 1rem;
        text-align: center;
        list-style: none;
        padding: 0;
        li {
            padding: 0;
            margin: 0;
        }
    }
}
.o_custom_erplibre_header {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.o_custom_erplibre_footer {
    background-color: darken($o-brand-secondary, 25%);
    color: white;
    display: flex;
    align-items: flex-end;
}
.o_report_layout_custom_erplibre {
    grid-column: 2 / 2;
    grid-row: 1 / -1;

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
        padding: 1rem;
        background: $o-brand-primary;
        display: flex;
        align-items: center;
        text-align: center;
    }
    #informations {
        display: flex;
        flex-direction: column-reverse;
        float: right;
        width: 50%;
        max-width: 250px;
        text-align: center;
        margin-top: 0 !important;

        p {
            border-top: 1px solid black;
        }
    }
    .address {
        width: 100%;

        div[name="address"] {
            margin-left: 0 !important;
        }
    }
    thead {
        background: $o-brand-primary;
    }

    .invoice_tbody td {
        border: 1px solid darken($o-brand-secondary, 15%);
    }

    .invoice_tbody tr:nth-child(odd) {
        background-color: $o-brand-secondary;
    }
}